:root {
  --ecru: rgb(192, 141, 22);
  --thistle: #d5c6e0ff;
  --black: #070707ff;
  --non-photo-blue: #7bdff2ff;
  --aquamarine: #a9ffcbff;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
